<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.MasterInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.MasterInfo">
        <id property="master_id" column="master_id"  jdbcType="INTEGER" />
        <result property="portraits" column="portraits"  jdbcType="VARCHAR" />
        <result property="name" column="name"   jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
     master_id, portraits,name
    </sql>

    <select id="selectAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from master_info
    </select>

</mapper>